/* Barra de rolagem do Chrome e Edge */
::-webkit-scrollbar {
    width: 5px; /* Largura da barra de rolagem */
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor de fundo da barra de rolagem */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888; /* Cor da barra de rolagem */
    border-radius: 5px; /* Borda arredondada da barra de rolagem */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cor da barra de rolagem ao passar o mouse */
  }
  